*{
	box-sizing: border-box;
	margin: 0;
	padding: 5px 0;
}

nav{
	position: fixed;
	padding: 5px 10px;
	background-color: #f28482;
	color:white;
	font-family: sans-serif;
	font-size: 2.4vh
}

div#container{
	height: 100%;
	width: 70%;
	margin-left: 30%;
	background-color: #f7ede2;
	padding: 5px 10px;
}

article{
	color: maroon;
	margin: 10px 0;
	padding: 20px 10px;
	line-height: 5vh;
}

h2{

	font-family:sans-serif;
	color:grey;
	font-size: 4.8vh;
	border-style: groove;
	border-color: antiquewhite;
}

section{
	margin: 3px;
}
