*{
	box-sizing: border-box;
	margin: 0;
	padding: 5px 0;
}


article{
	color: maroon;
	margin: 10px 0;
	padding: 20px 10px;
	line-height: 5vh;
}


h2{

	font-family:sans-serif;
	color:grey;
	font-size: 4.8vh;
	border-style: groove;
	border-color: antiquewhite;
}

section{
	margin: 3px;
}
