*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	color:white;
}
article{
	background-color: rgb(214, 205, 174);
	color: maroon;
	margin: 5px 0;
	padding: 10px 5px;
}


h2{
	font-family:sans-serif;
	color:grey;
	font-size: 3.6vh;
}

section{
	margin: 3px;
}
