*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}


body{
	width: 70%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
  	font-family: 'Raleway', sans-serif;
  	border-radius: 50%;
  	line-height: 5vh;
}

article{
	font-size: 2.5vh;
	width: 100%;
	padding: 5vh;
	margin:0 1.5vh;
}


ul.drop-down-menu{
width: 100vw;
padding-left: 25vw;
padding-right: 10vw;
padding-bottom: 10vh;
display: inline-block;
font-size: 2vh;
}

ul.drop-down-menu li{
position: relative;
white-space: nowrap;
}

ul.drop-down-menu > li:last-child {
border-right: none;  
}

ul.drop-down-menu > li{
	float: left;
}

ul.drop-down-menu a{
background-color: #f28482;
color:white;
display: block;
padding: 0 30px;
text-decoration: none;
line-height: 40px;
letter-spacing: 3px;
border-spacing: 3px;
}

ul.drop-down-menu a:hover{
background-color: #f5cac3;
color:#f28482;
}

ul.drop-down-menu li:hover >a {
background-color: #f5cac3;
color: #f28482;
}

ul.drop-down-menu ul{
display: none;
}

ul.drop-down-menu li:hover > ul {
display: block;
}
